@font-face {
    font-family: Syncopate;
    src: url('fonts/Syncopate-Bold.ttf');
}
/* variables */
* {
    -fx-dark-bg: #000;
    -fx-light-text: #fff;
}

.text-light {
    -fx-fill: -fx-light-text;
}

.label-light {
   -fx-text-fill: -fx-light-text;
}

.title {
    -fx-font-family: Syncopate, sans-serif;
}

#pane{
    -fx-background-image: url("images/background-bienvenidos.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#display-title {
    -fx-font-size: 70px;
    -fx-font-family: Syncopate, sans-serif;
}

#select-player{
    -fx-font-size: 50px;
    -fx-effect: dropshadow(three-pass-box, dodgerblue, 30, 0.5, 0, 0);
}

.player-name {
    -fx-padding: 50px;
    -fx-border-insets: 50px;
    -fx-background-insets: 50px;
    -fx-font-size: 50px;
    -fx-font-color: white;
}

#start-game {
    -fx-font-size: 50px;
    -fx-effect: dropshadow(three-pass-box, dodgerblue, 30, 0.5, 0, 0);
}
/* input*/
.input-text {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-text-fill: #fff;
    -fx-font-size: 30px;
}

.input-text:focused {
   -fx-background: rgba(255, 255, 255, 0.8);
}

/* labels */

.nombre-jugador {
    -fx-font-size: 20px;
    -fx-text-fill: -fx-light-text;
}

/* botones */

.btn {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
}

.btn:hover {
    -fx-cursor: hand;
}

.btn-aceptar {
    -fx-background-color: orangered;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.btn-aceptar:hover {
    -fx-background-color: crimson;
}

.btn-salir {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.btn-salir:hover {
    -fx-background-color: linear-gradient(red, #be1d00);
    -fx-effect: dropshadow(three-pass-box, crimson , 20, 0.3, 0, 0);
}

.btn-turno {
    -fx-background-color: linear-gradient( #58f850 ,  #0f90fc);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

/***** pantalla de juego *****/

.panel-superior {
    -fx-background-color: -fx-dark-bg;
}

.panel-control-inferior {
    -fx-background-color: -fx-dark-bg;
}

.panel-lateral {
    -fx-background-color: -fx-dark-bg;
}

.seccion-panel-jugador-titulo {
    -fx-font-size: 10px;
}

.seccion-panel-jugador-contenido {
    -fx-font-size: 30px;
}

/* todo: cambiar este nombre por algo mejor*/
.btn-bicho {
     -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #395306;
}

.btn-bicho-disabled {
    -fx-background: grey;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
}

.btn-bicho:hover {
     -fx-background-color: orangered;
}